# Dependencies
node_modules/

# Expo
.expo/
dist/

# Environment variables
.env
.env.local

# Local files
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Android build files
android/.gradle/
android/build/
android/app/build/

# iOS build files
ios/build/